POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cinemadb
POSTGRES_PORT=5432

REDIS_PASSWORD=redis
REDIS_PORT=6379

WEBSERVER_PORT=8080
WEBAPP_PORT=5173
FRONTEND_ORIGIN=http://localhost:5173
JWT_SIGNING_KEY=CinemaTicketBooking.Dev.SigningKey.ChangeMe.1234567890

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_PORT=3000

PROMETHEUS_PORT=9090
PROMETHEUS_RETENTION=7d

LOKI_PORT=3100

TEMPO_PORT=3200
TEMPO_OTLP_GRPC_PORT=4317

POSTGRES_EXPORTER_PORT=9187
REDIS_EXPORTER_PORT=9121
CADVISOR_PORT=8081

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET_NAME=cinema-ticket-booking
MINIO_PUBLIC_URL=http://localhost:9000

# Brevo Email Service
BrevoSettings__ApiKey=YOUR_BREVO_API_KEY
BrevoSettings__SenderEmail=YOUR_BREVO_SENDER_EMAIL
BrevoSettings__SenderName=Vici Cinema

# External Authentication
Authentication__Google__ClientId=YOUR_GOOGLE_CLIENT_ID
Authentication__Google__ClientSecret=YOUR_GOOGLE_CLIENT_SECRET
Authentication__Facebook__AppId=YOUR_FACEBOOK_APP_ID
Authentication__Facebook__AppSecret=YOUR_FACEBOOK_APP_SECRET

# VnPay Gateway
VnPay__TmnCode=YOUR_VNPAY_TMNCODE
VnPay__HashSecret=YOUR_VNPAY_SECRET
VnPay__PublicBaseUrl=YOUR_SERVER_URL
VnPay__FrontendResultUrl=YOUR_FRONTEND_URL

# Momo Gateway
Momo__PartnerCode=MOMO
Momo__AccessKey=YOUR_MOMO_ACCESSKEY
Momo__SecretKey=yOUR_MOMO_SECRET
Momo__PublicBaseUrl=YOUR_SERVER_URL
Momo__FrontendResultUrl=YOUR_FRONTEND_URL
